* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1000px;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 130px;
}

body {
  font-family: Roboto Condensed;
}

a {
  text-decoration: none;
}

.menu {
  width: 100%;
  height: 40px;
  background-color: #414143;
  -webkit-box-shadow: 0 3px 4px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0 3px 4px 1px rgba(0, 0, 0, 0.2);
}

.menunav {
  max-width: 1000px;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 40px;
}

.hiden-menu {
  width: 185px;
  height: auto;
  background-color: #fff;
  position: absolute;
  margin-left: 452px;
  -webkit-box-shadow: 0px 4px 8px 1px rgba(0, 0, 0, 0.19);
          box-shadow: 0px 4px 8px 1px rgba(0, 0, 0, 0.19);
  display: none;
  z-index: 2;
}

.hiden-menu__list {
  list-style-type: none;
  text-align: center;
}

.hiden-menu__link {
  text-decoration: none;
  color: #414143;
  font-size: 16px;
  text-transform: uppercase;
}

.hiden-menu.active {
  display: block;
}

.menu-list-element {
  padding-top: 10px;
  padding-left: 4px;
  padding-right: 4px;
  padding-bottom: 10px;
  border-top: 1px solid #b9b8b8;
  -webkit-transition: all 0.1s ease;
  transition: all 0.1s ease;
}

.menu-list-element:hover {
  background: #c0c0c0;
  -webkit-transition: all 0.1s ease;
  transition: all 0.1s ease;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100vh;
}

.content-main {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
  background-color: #e2e2e2;
  z-index: 1;
}

.footer {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  height: 62px;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #464646;
  -webkit-box-shadow: 0 -3px 4px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0 -3px 4px 1px rgba(0, 0, 0, 0.2);
}

.footer__text {
  width: 1000px;
  margin: auto;
  padding: 15px;
  text-align: center;
  font-size: 14px;
  color: #939598;
}

.wrapper-slider {
  width: 1000px;
  height: 100vh;
  background-color: #fff;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.slider-container {
  max-width: 800px;
  width: 100%;
  height: 400px;
  position: relative;
  margin-top: 50px;
}

.slider {
  width: 100%;
  height: 100%;
  display: none;
}

.slider.active {
  display: block;
}

.slider-img {
  width: 100%;
  height: 100%;
}

#btn-prev, #btn-next {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 50px;
  background-color: gray;
  opacity: 0.4;
  cursor: pointer;
  -webkit-transition: opacity .2s ease-in-out;
  transition: opacity .2s ease-in-out;
}

#btn-prev:hover, #btn-next:hover {
  opacity: 0.6;
}

#btn-next {
  left: auto;
  right: 0;
}

.dots-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 15px;
}

.dot.active {
  background-color: #000000;
}

.dot {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: gray;
  margin-right: 10px;
  cursor: pointer;
}

.dot:last-child {
  margin-right: 0;
}

.img-block {
  position: relative;
  margin-top: 15px;
  max-width: 800px;
}

.img-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.img-link:hover {
  opacity: 0.7;
  -webkit-transition: .2s ease-in-out;
  transition: .2s ease-in-out;
}

.servis-info {
  margin-left: 40px;
  margin-right: 40px;
  margin-top: 30px;
  font-size: 16px;
  color: #414143;
}

.servis-info__list {
  margin-left: 70px;
  margin-right: 40px;
  margin-top: 20px;
  font-size: 16px;
  color: #414143;
}

.map {
  margin-left: 40px;
  margin-top: 20px;
  -webkit-box-shadow: 0px 4px 8px 1px rgba(0, 0, 0, 0.19);
          box-shadow: 0px 4px 8px 1px rgba(0, 0, 0, 0.19);
}

.companyboltinfo {
  font-size: 16px;
  font-weight: 700;
  margin-left: 50px;
  margin-top: 10px;
  color: #414143;
}

.prod-img-block {
  margin-left: 40px;
  margin-top: 20px;
}

.prod-img {
  height: 250px;
  width: 400px;
  -webkit-box-shadow: 0px 4px 8px 1px rgba(0, 0, 0, 0.19);
          box-shadow: 0px 4px 8px 1px rgba(0, 0, 0, 0.19);
}

.numberlink {
  display: block;
  font-size: 20px;
  color: #000;
  text-align: right;
  text-decoration: none;
  color: #414143;
}

.numbertext {
  display: block;
  text-align: right;
  font-size: 14px;
  color: #939598;
  padding-top: 3px;
}

.contact-number1 {
  margin-left: 60px;
  margin-top: 50px;
  width: 160px;
}

.contact-number2 {
  margin-left: 60px;
  margin-top: 50px;
  width: 160px;
}

.contact-number3 {
  margin-left: 60px;
  margin-top: 50px;
  width: 200px;
}

.vertical-line {
  color: #939598;
  font-size: 21px;
}

.menu-link {
  text-decoration: none;
  color: #ebebeb;
  width: auto;
  height: 100%;
  text-align: center;
  padding: 10px 15px 0 15px;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.menu-link:hover {
  background: #fff;
  color: #414143;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.menu-link-main {
  text-decoration: none;
  color: #ebebeb;
  width: auto;
  height: 100%;
  text-align: center;
  padding: 10px 15px 0 15px;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.menu-link-main:hover {
  background: #fff;
  color: #414143;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.content-block {
  width: 1000px;
  height: 100vh;
  background-color: #fff;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

h2 {
  margin-top: 20px;
  margin-left: 40px;
  color: #414143;
}

.content-img {
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.content-img-2 {
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.link-element {
  margin-left: 40px;
  max-height: 200px;
}

.link-element:hover {
  -webkit-box-shadow: 0px 4px 8px 1px rgba(0, 0, 0, 0.19);
          box-shadow: 0px 4px 8px 1px rgba(0, 0, 0, 0.19);
  opacity: 0.9;
}

.img-content-main {
  height: 300px;
  width: 450px;
  margin-left: 40px;
  margin-top: 30px;
}

h3 {
  margin-top: 70px;
  margin-left: 40px;
  color: #414143;
}

.firm-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.firm-img-element {
  margin-top: 20px;
  margin-left: 40px;
}

.firm-img-element:hover {
  -webkit-box-shadow: 0px 4px 8px 1px rgba(0, 0, 0, 0.19);
          box-shadow: 0px 4px 8px 1px rgba(0, 0, 0, 0.19);
  opacity: 0.9;
}
/*# sourceMappingURL=style.css.map */